.carousel.carousel-slider{
    background: url("../Navbar/img/img-7.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    display: flex;
}
.carousel .slide iframe{
    
        height: 54vh;
        width: 37vw;
    
}
.carousel .slide .legend {
    transition: all .5s ease-in-out;
    position: absolute;
    bottom: -3px;
    left: 50%;
    margin-left: -19%;
    border-radius: 10px;
    background: #000;
    color: #fff;
    padding: 10px;
    font-size: 12px;
    text-align: center;
    opacity: 0.25;
    transition: opacity .35s ease-in-out;
    width: 73vh;
}


.carousel.carousel-slider .control-arrow:hover{
    background: none;
}
.carousel .control-next.control-arrow {
    right: 26%;
}
.carousel .control-prev.control-arrow {
    left: 26%;

}
.carousel .control-arrow, .carousel.carousel-slider .control-arrow{
    opacity: 1;
}
.carousel-container .control-next {
    font-size: 24px;
}